#chat-input.Group--ios {
    margin: 0;
    box-shadow: none;
}

#chat-input.Group--android {
    margin: 0;
    box-shadow: none;
}

.footer-icon {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background-color: #008542;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px var(--background_page);
}

.footer-icon__icon {
    margin-left: auto;
    margin-right: auto;
}

#message-input.Input__el {
    height: 30px;
}

.chat-box_ios {
    height: calc(100vh - 187px);
}

.chat-box_android {
    height: calc(100vh - 162px);
}

.mc-color-0 {
    color: #000000;
    text-shadow: 1px 1px 1.5px #000000;
}

.mc-color-1 {
    color: #0000AA;
    text-shadow: 1px 1px 1.5px #00002A;
}

.mc-color-2 {
    color: #00AA00;
    text-shadow: 1px 1px 1.5px #002A00;
}

.mc-color-3 {
    color: #00AAAA;
    text-shadow: 1px 1px 1.5px #002A2A;
}

.mc-color-4 {
    color: #AA0000;
    text-shadow: 1px 1px 1.5px #2A0000;
}

.mc-color-5 {
    color: #AA00AA;
    text-shadow: 1px 1px 1.5px #2A002A;
}

.mc-color-6 {
    color: #FFAA00;
    text-shadow: 1px 1px 1.5px #2A2A00;
}

.mc-color-7 {
    color: #AAAAAA;
    text-shadow: 1px 1px 1.5px #2A2A2A;
}

.mc-color-8 {
    color: #555555;
    text-shadow: 1px 1px 1.5px #151515;
}

.mc-color-9 {
    color: #5555FF;
    text-shadow: 1px 1px 1.5px #15153F;
}

.mc-color-a {
    color: #55FF55;
    text-shadow: 1px 1px 1.5px #153F15;
}

.mc-color-b {
    color: #55FFFF;
    text-shadow: 1px 1px 1.5px #153F3F;
}

.mc-color-c {
    color: #FF5555;
    text-shadow: 1px 1px 1.5px #3F1515;
}

.mc-color-d {
    color: #FF55FF;
    text-shadow: 1px 1px 1.5px #3F153F;
}

.mc-color-e {
    color: #FFFF55;
    text-shadow: 1px 1px 1.5px #3F3F15;
}

.mc-color-f {
    color: #FFFFFF;
    text-shadow: 1px 1px 1.5px #3F3F3F;
}
