.spinner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading {
    margin-top: 50px;
    height: 100px;
    width: 100px;
}

.error_image {
    background-image: url(https://www.minecraft.net/content/dam/archive/0ef629a3446f9a977087c578189097dd-sticker_creeper.png);
    background-size: contain;
    background-position: 50%;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
}

.error_text {
    color: #909499;
    text-align: center;
}
