.Info-List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    justify-content: center;
}

.Info-List > .SimpleCell > .SimpleCell__main {
    text-align: center;
}

.Info-List > .SimpleCell > .SimpleCell__main > .SimpleCell__content {
    display: unset !important;
}

.Info-Title {
    text-align: center;
}
