.user-avatar {
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.user-info_list {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
