.image {
    background-size: contain;
    background-position: 50%;
    height: 64px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.button {
    display: flex;
}

#item-selector .Select__container {
    padding: 6px 40px 12px 12px;
}