.ServerCard-Motd_bright_light {
    text-shadow: 0.5px 0.5px 1.5px #000000;
}

.ServerCard-Motd_space_gray {
    text-shadow: 0.01px 0.01px 1px #FFFFFF;
}

.ServerCard-Line {
    padding: 0 12px 12px !important;
}
