.SkinPreview {
    position: relative;
    background-size: auto 12.5%;
    background-image: var(--skinpreview-background);
    animation-name: Background-Animation;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.SkinPreview-Buttons {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
}

.SkinPreview-Button {
    padding: 5px !important;
    margin-bottom: 5px !important;
}

.SkinPreview-Render {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.4));
    z-index: 2;
}

.SkinPreview-Animation_paused {
    animation-play-state: paused;
}

@keyframes Background-Animation {
    from {
        background-position: 72000px 72000px;
    }
    to {
        background-position: 1px 1px;
    }
}
