.SkinPreview {
    position: relative;
    background-size: auto 12.5%;
    animation-name: Background-Animation;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.SkinPreview-Buttons {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
}

.SkinPreview-Button {
    padding: 5px !important;
    margin-bottom: 5px !important;
}

.SkinPreview-Render {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.4));
    z-index: 2;
}

.SkinPreview-bright_light {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj///9njiF9AAAAFElEQVQIW2P4/5+BgYGKBIYAZQQA7b0/waIf9f4AAAAASUVORK5CYII=);
}

.SkinPreview-space_gray {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAABJmlDQ1BBZG9iZSBSR0IgKDE5OTgpAAAoFWNgYDJwdHFyZRJgYMjNKykKcndSiIiMUmA/z8DGwMwABonJxQWOAQE+IHZefl4qAwb4do2BEURf1gWZxUAa4EouKCoB0n+A2CgltTiZgYHRAMjOLi8pAIozzgGyRZKywewNIHZRSJAzkH0EyOZLh7CvgNhJEPYTELsI6Akg+wtIfTqYzcQBNgfClgGxS1IrQPYyOOcXVBZlpmeUKBhaWloqOKbkJ6UqBFcWl6TmFit45iXnFxXkFyWWpKYA1ULcBwaCEIWgENMAarTQZKAyAMUDhPU5EBy+jGJnEGIIkFxaVAZlMjIZE+YjzJgjwcDgv5SBgeUPQsykl4FhgQ4DA/9UhJiaIQODgD4Dw745AMDGT/0QRiF8AAAADFBMVEUAAAD///8eHh8uLi+0qCVVAAAACXBIWXMAAAsTAAALEwEAmpwYAAAF62lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOCAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDIwLTAxLTExVDA3OjI3OjUyKzEwOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyMC0wMS0xMVQwNzozODoyOSsxMDowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyMC0wMS0xMVQwNzozODoyOSsxMDowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjIiIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJBZG9iZSBSR0IgKDE5OTgpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjc1YjZiYWQ4LWZhMGMtNjA0ZC04ZjBkLTEwYzE1ZDI3MTEwYyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDphMmU2YjkzMS1mNWE0LTFmNDktOTNmNS02OTE3ODg3N2MxMTAiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDphMmU2YjkzMS1mNWE0LTFmNDktOTNmNS02OTE3ODg3N2MxMTAiPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOmEyZTZiOTMxLWY1YTQtMWY0OS05M2Y1LTY5MTc4ODc3YzExMCIgc3RFdnQ6d2hlbj0iMjAyMC0wMS0xMVQwNzoyNzo1MisxMDowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTggKFdpbmRvd3MpIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NWI2YmFkOC1mYTBjLTYwNGQtOGYwZC0xMGMxNWQyNzExMGMiIHN0RXZ0OndoZW49IjIwMjAtMDEtMTFUMDc6Mzg6MjkrMTA6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE4IChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4xb0TwAAAAHUlEQVQ4EWNgQgPMaIBhVMGIUoAugK5hVMGIUgAApUwKAYMOKr0AAAAASUVORK5CYII=);
}

.SkinPreview-Animation_paused {
    animation-play-state: paused;
}

@keyframes Background-Animation {
    from {
        background-position: 72000px 72000px;
    }
    to {
        background-position: 1px 1px;
    }
}
