.SkinCard {
    text-align: center;
    cursor: pointer;
    width: 150px;
    background-position: center !important;
    background-size: auto 12.5%;
    background-image: var(--skinpreview-background) !important;
}

.SkinCard_hover:hover {
    box-shadow: 0 0 2px 2px var(--accent);
}

.SkinCard-Image {
    filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.4));
    image-rendering: pixelated;
    image-rendering: -webkit-crisp-edges;
}

.SkinCard-Rating {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}
